/*
This file is part of the DAS_prototype and can be used under the GNU Affero General License

https://www.gnu.org/licenses/agpl-3.0.html

*/

{{define "title"}}Assign Topics to Course{{end}}

{{define "body"}}
<div class="w3-container w3-light-grey w3-cell-row">
  <div class="w3-cell">
      <b>Subject</b>
      <p>{{ .CourseData.Subject.Name }}</p>
      <b>Term</b>
      <p>{{ .CourseData.Term.Name }}</p>
  </div>
  <div class="w3-cell">
    <b>Begin Date</b>
    <p>{{ .CourseData.BeginDate.Format "Jan 2, 2006 at 3:04pm (MST)" }}</p>
    <b>Final Date</b>
    <p>{{ .CourseData.FinalDate.Format "Jan 2, 2006 at 3:04pm (MST)" }}</p>
  </div>
  <div class="w3-cell">
    <b>Close Date</b>
    <p>{{ .CourseData.CloseDate.Format "Jan 2, 2006 at 3:04pm (MST)" }}</p>
  </div>
</div>

<div class="w3-container w3-cell-row">
  <div class="w3-cell w3-padding">
    <h2>Selected</h2>
    <table class="w3-table w3-striped w3-bordered">
      <tr>
        <th style="width:10%">#</th>
        <th>Title</th>
        <th>Action</th>
      </tr>
      {{range $index, $val := .CourseTopics.Selected}}
        <tr>
          <td>{{$index}}</td>
          <td>
            {{$val.Title}}
          </td>
          <td class="w3-button w3-text-indigo" hx-post="/course/topic?topicid={{$val.ID}}&courseid={{$.CourseData.ID}}" hx-target="body">
            Remove
          </td>
        </tr>
      {{end}}
    </table>
  </div>
  <div class="w3-cell w3-padding">
    <h2>Unselected</h2>
    <table class="w3-table w3-striped w3-bordered">
      <tr>
        <th style="width:10%">#</th>
        <th>Title</th>
        <th>Action</th>
      </tr>
      {{range $index, $val := .CourseTopics.Unselected}}
        <tr>
          <td>{{$index}}</td>
          <td>
            {{$val.Title}}
          </td>
          <td class="w3-button w3-text-indigo" hx-post="/course/topic?topicid={{$val.ID}}&courseid={{$.CourseData.ID}}" hx-target="body">
            Add
          </td>
        </tr>
      {{end}}
    </table>
  </div>
{{end}}