{{/*
This file is part of the DAS_prototype and can be used under the GNU Affero General License

https://www.gnu.org/licenses/agpl-3.0.html

*/}}

{{define "htmx-response"}}
<form>
  <label>Select User</label>
  <div class="w3-cell-row">
    <div class="w3-cell">
      <select name="supporters" class="w3-input w3-border">
        {{range $index, $val := .Member}}
            <option value="{{$val}}">{{$val}}</option>
        {{end}}
      </select>
    </div>
    <div class="w3-cell">
      <button hx-patch="/team?action=remove" hx-target="body" class="w3-button w3-indigo">Remove</button>
      <button hx-get="/team?teamid={{.TeamId}}" hx-target="body" class="w3-button w3-indigo">Cancel</button>
    </div>
  </div>
</form>
{{end}}