/*
This file is part of the DAS_prototype and can be used under the GNU Affero General License

https://www.gnu.org/licenses/agpl-3.0.html

*/

{{define "htmx_wrapper"}}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial scale=1.0" />
        <link rel="stylesheet" type="text/css" href="../resources/css/w3.css">
        <script src="../resources/scripts/htmx.min.js"></script>
    </head>
    <body>
            <main>
                {{block "htmx-response" .}}{{end}}
            </main>
        </div>
    </body>
</html>
{{end}}