/*
This file is part of the DAS_prototype and can be used under the GNU Affero General License

https://www.gnu.org/licenses/agpl-3.0.html

*/

<!DOCTYPE html>
<html>
    <head>
        <title>DAS: Login</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial scale=1.0" />
        <link rel="stylesheet" type="text/css" href="../resources/css/w3.css">
        <script src="../resources/scripts/htmx.min.js"></script>
    </head>
    <body>
      <main>
        <div class="w3-display-container">
          <img src="../resources/images/people.jpg" class="w3-image">
          <h1 class="w3-display-topleft w3-text-white w3-padding-36">Login</h1>
          <div class="w3-padding-24 w3-indigo w3-display-middle">
            <form hx-post="/login" hx-target="#error" class="w3-container">
              <label for="username">Username:</label><br>
              <input type="text" id="username" name="username" class="w3-input w3-border"><br>
              <label for="password">Password:</label><br>
              <input type="password" id="password" name="password" class="w3-input w3-border"><br><br>
              <input type="submit" value="Login" class="w3-button w3-blue">
              <div id="error"></div>
            </form>
          </div>
        </div>
      </main>
    </body>
</html>



